In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import time
from splinter import Browser
from sqlalchemy import create_engine

In [7]:
year_list = ['2010','2011', '2012','2013','2014','2015','2016','2017','2018','2019']
#year_list = ['2010']
attendance_list = []


for year in year_list:
    url = 'http://www.espn.com/nba/attendance/_/year/' + year
    table = pd.read_html(url)[0]
    table = table.drop(table.index[[0, 1]])
    
    table.columns =['rank','team','gamesH', 'total_home_attendance','average_home_attendance','pct','gamesr','average_road_attendance', 'pct2', 'games', 'overall_average_attendance', 'pct3' ]
    better_table = table[['team','gamesH', 'total_home_attendance', 'average_home_attendance', 'average_road_attendance', 'overall_average_attendance']]
    better_table['gamesH'] = year
    better_table = better_table.rename(columns={'gamesH': 'year', 'Team':'team'})
    
    abbrev = []
    
    
    for i in better_table['team']:
        if i == 'Bulls':
            abbrev.append('CHI')
        elif i == 'Cavaliers':
            abbrev.append('CLE')
        elif i == '76ers':
            abbrev.append('PHI')
        elif i == 'Raptors':
            abbrev.append('TOR')
        elif i == 'Mavericks':
            abbrev.append('DAL')
        elif i == 'Heat':
            abbrev.append('MIA')
        elif i == 'Warriors':
            abbrev.append('GSW')
        elif i == 'Trail Blazers':
            abbrev.append('POR')
        elif i == 'NY Knicks':
            abbrev.append('NYK')
        elif i == 'Lakers':
            abbrev.append('LAL')
        elif i == 'Celtics':
            abbrev.append('BOS')
        elif i == 'Spurs':
            abbrev.append('SAS')
        elif i == 'Thunder':
            abbrev.append('OKC')
        elif i == 'Wizards':
            abbrev.append('WAS')
        elif i == 'Jazz':
            abbrev.append('UTA')
        elif i == 'Rockets':
            abbrev.append('HOU')
        elif i == 'Magic':
            abbrev.append('ORL')
        elif i == 'Kings':
            abbrev.append('SAC')
        elif i == 'Pistons':
            abbrev.append('DET')
        elif i == 'Nuggets':
            abbrev.append('DEN')
        elif i == 'Timberwolves':
            abbrev.append('MIN')
        elif i == 'Clippers':
            abbrev.append('LAC')
        elif i == 'Suns':
            abbrev.append('PHO')
        elif i == 'Bucks':
            abbrev.append('MIL')
        elif i == 'Pelicans':
            abbrev.append('NOP')
        elif i == 'Hornets':
            abbrev.append('CHA')
        elif i == 'Pacers':
            abbrev.append('IND')
        elif i == 'Grizzlies':
            abbrev.append('UTA')
        elif i == 'Nets':
            abbrev.append('NJN')
        elif i == 'Hawks':
            abbrev.append('ATL')
        else:
            #print(i)
            abbrev.append("NaN")
            
    better_table['team'] = abbrev
    even_better_table = better_table.loc[better_table["team"] != "NaN"]
    attendance_list.append(even_better_table)


attendance_list

/Users/danielconde/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

[   team  year total_home_attendance average_home_attendance  \
 2   CHI  2010                849760                   20725
 3   CLE  2010                843042                   20562
 4   POR  2010                840411                   20497
 5   DAL  2010                819770                   19994
 6   NYK  2010                799550                   19501
 7   UTA  2010                794512                   19378
 8   LAL  2010                778877                   18997
 9   DET  2010                768826                   18751
 10  BOS  2010                744961                   18169
 11  SAS  2010                741676                   18089
 12  GSW  2010                739120                   18027
 13  OKC  2010                738149                   18003
 14  DEN  2010                737812                   17995
 15  TOR  2010                733784                   17897
 16  MIA  2010                726935                   17730
 17  PHO  2010                723582                   17648
 18  ORL  2010                715901                   17461
 19  ATL  2010                678375                   16545
 20  HOU  2010                677658                   16528
 21  LAC  2010                670063                   16343
 22  WAS  2010                664398                   16204
 23  CHA  2010                648790                   15824
 24  NOP  2010                620366                   15130
 25  MIL  2010                619453                   15108
 26  MIN  2010                619170                   15101
 27  PHI  2010                583219                   14224
 28  IND  2010                582295                   14202
 29  UTA  2010                552914                   13485
 30  SAC  2010                543416                   13254
 31  NJN  2010                537230                   13103

    average_road_attendance overall_average_attendance
 2                    17735                      19230
 3                    19200                      19881
 4                    16546                      18521
 5                    17129                      18561
 6                    17315                      18408
 7                    17095                      18237
 8                    19265                      19131
 9                    17104                      17928
 10                   18154                      18161
 11                   17707                      17898
 12                   16443                      17235
 13                   16876                      17440
 14                   17446                      17720
 15                   16466                      17181
 16                   18040                      17885
 17                   17376                      17512
 18                   17838                      17649
 19                   17097                      16821
 20                   16616                      16572
 21                   16225                      16284
 22                   16487                      16346
 23                   16256                      16040
 24                   17168                      16149
 25                   16823                      15965
 26                   16112                      15607
 27                   16889                      15556
 28                   16955                      15578
 29                   16691                      15088
 30                   16973                      15113
 31                   16446                      14774  ,
    team  year total_home_attendance average_home_attendance  \
 2   CHI  2011                893462                   21791
 3   POR  2011                840924                   20510
 4   CLE  2011                824595                   20112
 5   DAL  2011                824162                   20101
 6   MIA  2011                810930                   19778
 7   NYK  2011                808879                   19728
 8   UTA  2011                799982                   19511
 9   LAL  2011                778877                   18997
 10  ORL  2011                777852                   18972
 11  GSW  2011                766398                   18692
 12  BOS  2011                763584                   18624
 13  SAS  2011                750879                   18314
 14  OKC  2011                744068                   18148
 15  LAC  2011                727462                   17742
 16  PHO  2011                720249                   17567
 17  DEN  2011                692968                   16901
 18  WAS  2011                688466                   16791
 19  DET  2011                683080                   16660
 20  TOR  2011                679208                   16566
 21  HOU  2011                663839                   16191
 22  CHA  2011                649694                   15846
 23  ATL  2011                641596                   15648
 24  MIL  2011                631910                   15412
 25  MIN  2011                624960                   15242
 26  PHI  2011                604823                   14751
 27  NOP  2011                603088                   14709
 28  UTA  2011                600687                   14650
 29  NJN  2011                581378                   14179
 30  SAC  2011                569496                   13890
 31  IND  2011                555077                   13538

    average_road_attendance overall_average_attendance
 2                    18431                      20111
 3                    16333                      18422
 4                    16200                      18156
 5                    16657                      18379
 6                    19447                      19612
 7                    18044                      18886
 8                    17331                      18421
 9                    19087                      19042
 10                   17428                      18200
 11                   17049                      17871
 12                   18964                      18794
 13                   17389                      17851
 14                   17774                      17961
 15                   17614                      17678
 16                   17462                      17514
 17                   17285                      17093
 18                   17192                      16992
 19                   16732                      16696
 20                   16855                      16710
 21                   16943                      16567
 22                   16473                      16159
 23                   16957                      16303
 24                   16911                      16162
 25                   16885                      16064
 26                   17155                      15953
 27                   17179                      15944
 28                   16441                      15546
 29                   17098                      15639
 30                   17400                      15645
 31                   16844                      15191  ,
    team  year total_home_attendance average_home_attendance  \
 2   CHI  2012                731326                   22161
 3   POR  2012                676384                   20496
 4   DAL  2012                671050                   20334
 5   MIA  2012                657855                   19935
 6   NYK  2012                652179                   19763
 7   UTA  2012                637124                   19306
 8   LAC  2012                634237                   19219
 9   LAL  2012                626901                   18997
 10  ORL  2012                623587                   18896
 11  GSW  2012                622311                   18857
 12  BOS  2012                614592                   18624
 13  SAS  2012                607095                   18396
 14  OKC  2012                600699                   18203
 15  PHI  2012                577597                   17502
 16  MIN  2012                577197                   17490
 17  DEN  2012                561966                   17029
 18  TOR  2012                555584                   16835
 19  WAS  2012                552038                   16728
 20  CLE  2012                525577                   15926
 21  UTA  2012                518256                   15704
 22  PHO  2012                514718                   15597
 23  HOU  2012                506994                   15363
 24  ATL  2012                501593                   15199
 25  NOP  2012                498618                   15109
 26  CHA  2012                486984                   14757
 27  MIL  2012                485717                   14718
 28  SAC  2012                478764                   14508
 29  DET  2012                475638                   14413
 30  IND  2012                467561                   14168
 31  NJN  2012                460719                   13961

    average_road_attendance overall_average_attendance
 2                    17989                      20075
 3                    17164                      18830
 4                    17712                      19023
 5                    19399                      19667
 6                    18407                      19085
 7                    16929                      18118
 8                    18342                      18781
 9                    19034                      19015
 10                   17161                      18028
 11                   16364                      17611
 12                   18288                      18456
 13                   16990                      17693
 14                   18031                      18117
 15                   16764                      17133
 16                   16310                      16900
 17                   17228                      17128
 18                   16732                      16784
 19                   16361                      16544
 20                   16723                      16324
 21                   17068                      16386
 22                   17806                      16702
 23                   17733                      16548
 24                   16820                      16010
 25                   16717                      15913
 26                   16534                      15645
 27                   16661                      15689
 28                   16905                      15706
 29                   16342                      15378
 30                   16597                      15382
 31                   17081                      15521  ,
    team  year total_home_attendance average_home_attendance  \
 2   CHI  2013                896944                   21876
 3   DAL  2013                821490                   20036
 4   MIA  2013                819290                   19982
 5   POR  2013                813012                   19829
 6   GSW  2013                794320                   19373
 7   LAC  2013                788293                   19226
 8   NYK  2013                780353                   19033
 9   LAL  2013                778877                   18997
 10  UTA  2013                765915                   18680
 11  BOS  2013                744960                   18624
 12  SAS  2013                755700                   18431
 13  OKC  2013                746323                   18203
 14  TOR  2013                743936                   18144
 15  DEN  2013                730616                   17819
 16  ORL  2013                721414                   17595
 17  NJN  2013                704702                   17187
 18  PHI  2013                685412                   16717
 19  HOU  2013                683564                   16672
 20  UTA  2013                681613                   16624
 21  WAS  2013                670070                   16343
 22  MIN  2013                669956                   16340
 23  CLE  2013                663882                   16192
 24  PHO  2013                632913                   15436
 25  CHA  2013                628293                   15324
 26  IND  2013                626069                   15269
 27  ATL  2013                620146                   15125
 28  MIL  2013                616469                   15035
 29  DET  2013                606094                   14782
 30  NOP  2013                565930                   13803
 31  SAC  2013                563743                   13749

    average_road_attendance overall_average_attendance
 2                    18144                      20010
 3                    17613                      18824
 4                    19090                      19536
 5                    16727                      18278
 6                    17204                      18288
 7                    17806                      18516
 8                    18271                      18652
 9                    18866                      18931
 10                   16769                      17724
 11                   17768                      18191
 12                   17290                      17861
 13                   18335                      18269
 14                   16313                      17229
 15                   17401                      17610
 16                   16821                      17208
 17                   17239                      17213
 18                   17323                      17020
 19                   17982                      17327
 20                   17194                      16909
 21                   16193                      16268
 22                   17034                      16687
 23                   16780                      16486
 24                   17152                      16294
 25                   16502                      15913
 26                   17061                      16154
 27                   17165                      16145
 28                   16919                      15977
 29                   16885                      15834
 30                   17254                      15528
 31                   17305                      15527  ,
    team  year total_home_attendance average_home_attendance  \
 2   CHI  2014                890370                   21716
 3   DAL  2014                817982                   19950
 4   NYK  2014                812292                   19812
 5   MIA  2014                811036                   19781
 6   POR  2014                809612                   19746
 7   GSW  2014                803436                   19596
 8   LAC  2014                787692                   19212
 9   LAL  2014                771974                   18828
 10  SAS  2014                755031                   18415
 11  TOR  2014                748339                   18252
 12  OKC  2014                746323                   18203
 13  UTA  2014                745203                   18175
 14  HOU  2014                743082                   18123
 15  BOS  2014                742400                   18107
 16  IND  2014                717542                   17501
 17  CLE  2014                710522                   17329
 18  NJN  2014                707331                   17251
 19  WAS  2014                698068                   17026
 20  DEN  2014                692898                   16899
 21  UTA  2014                685458                   16718
 22  NOP  2014                672029                   16390
 23  SAC  2014                667949                   16291
 24  ORL  2014                666046                   16245
 25  PHO  2014                650739                   15871
 26  CHA  2014                636268                   15518
 27  DET  2014                615238                   15005
 28  MIN  2014                597157                   14564
 29  ATL  2014                587927                   14339
 30  PHI  2014                568632                   13869
 31  MIL  2014                552967                   13487

    average_road_attendance overall_average_attendance
 2                    17551                      19634
 3                    17268                      18609
 4                    17422                      18617
 5                    19190                      19486
 6                    17312                      18529
 7                    17526                      18561
 8                    17218                      18215
 9                    17845                      18337
 10                   17627                      18021
 11                   16702                      17477
 12                   18170                      18186
 13                   17295                      17735
 14                   17427                      17775
 15                   17484                      17796
 16                   17872                      17686
 17                   17388                      17358
 18                   17528                      17390
 19                   17183                      17104
 20                   17211                      17055
 21                   17269                      16993
 22                   17397                      16894
 23                   16859                      16575
 24                   16583                      16414
 25                   17250                      16560
 26                   17026                      16272
 27                   17280                      16143
 28                   17605                      16085
 29                   17274                      15807
 30                   17441                      15655
 31                   17013                      15250  ,
    team  year total_home_attendance average_home_attendance  \
 2   CHI  2015                875091                   21343
 3   CLE  2015                843042                   20562
 4   DAL  2015                827702                   20187
 5   NYK  2015                812292                   19812
 6   TOR  2015                809824                   19751
 7   MIA  2015                808223                   19712
 8   GSW  2015                803436                   19596
 9   POR  2015                801733                   19554
 10  LAC  2015                785892                   19168
 11  UTA  2015                772059                   18830
 12  LAL  2015                768244                   18737
 13  SAS  2015                762855                   18606
 14  WAS  2015                747796                   18238
 15  HOU  2015                747412                   18229
 16  OKC  2015                746323                   18203
 17  BOS  2015                721350                   17593
 18  ATL  2015                713909                   17412
 19  UTA  2015                710502                   17329
 20  CHA  2015                704886                   17192
 21  NJN  2015                698529                   17037
 22  PHO  2015                693862                   16923
 23  IND  2015                691434                   16864
 24  ORL  2015                688194                   16785
 25  NOP  2015                683757                   16677
 26  SAC  2015                680049                   16586
 27  DET  2015                625917                   15266
 28  MIL  2015                611226                   14907
 29  DEN  2015                602707                   14700
 30  MIN  2015                595652                   14528
 31  PHI  2015                571572                   13940

    average_road_attendance overall_average_attendance

In [8]:
attendance_df = pd.DataFrame({})

for table in attendance_list:
        attendance_df = attendance_df.append(table)
attendance_df
attendance_df.reset_index(drop = True)

,team,year,total_home_attendance,average_home_attendance,average_road_attendance,overall_average_attendance
0,CHI,2010,849760,20725,17735,19230
1,CLE,2010,843042,20562,19200,19881
2,POR,2010,840411,20497,16546,18521
3,DAL,2010,819770,19994,17129,18561
4,NYK,2010,799550,19501,17315,18408
5,UTA,2010,794512,19378,17095,18237
6,LAL,2010,778877,18997,19265,19131
7,DET,2010,768826,18751,17104,17928
8,BOS,2010,744961,18169,18154,18161
9,SAS,2010,741676,18089,17707,17898
10,GSW,2010,739120,18027,16443,17235
11,OKC,2010,738149,18003,16876,17440
12,DEN,2010,737812,17995,17446,17720
13,TOR,2010,733784,17897,16466,17181
14,MIA,2010,726935,17730,18040,17885
15,PHO,2010,723582,17648,17376,17512
16,ORL,2010,715901,17461,17838,17649
17,ATL,2010,678375,16545,17097,16821
18,HOU,2010,677658,16528,16616,16572
19,LAC,2010,670063,16343,16225,16284
20,WAS,2010,664398,16204,16487,16346
21,CHA,2010,648790,15824,16256,16040
22,NOP,2010,620366,15130,17168,16149
23,MIL,2010,619453,15108,16823,15965
24,MIN,2010,619170,15101,16112,15607
25,PHI,2010,583219,14224,16889,15556
26,IND,2010,582295,14202,16955,15578
27,UTA,2010,552914,13485,16691,15088
28,SAC,2010,543416,13254,16973,15113
29,NJN,2010,537230,13103,16446,14774
...,...,...,...,...,...,...
270,PHI,2019,838092,20441,17895,19168
271,CHI,2019,823475,20084,17822,18953
272,DAL,2019,820569,20013,18073,19043
273,TOR,2019,812822,19824,18239,19032
274,MIA,2019,805264,19640,18176,18908
275,GSW,2019,803436,19596,18790,19193
276,POR,2019,799345,19496,17992,18753
277,CLE,2019,793337,19349,17632,18490
278,NYK,2019,779087,19002,17566,18284
279,LAL,2019,778877,18997,18862,18929
280,BOS,2019,763584,18624,18671,18647
281,DEN,2019,756457,18450,17474,17962
282,SAS,2019,750616,18307,17381,17844
283,UTA,2019,750546,18306,17517,17911
284,OKC,2019,746323,18203,17866,18034
285,HOU,2019,740392,18058,17921,17989
286,MIL,2019,721692,17602,18185,17893
287,ORL,2019,720024,17561,17659,17610
288,WAS,2019,716996,17487,17509,17498
289,LAC,2019,710327,17325,17233,17279
290,SAC,2019,700975,17096,17199,17148
291,IND,2019,689310,16812,17957,17377
292,CHA,2019,676570,16501,17648,17074
293,DET,2019,675963,16486,17819,17153
294,NOP,2019,656183,16004,17667,16835
295,UTA,2019,607564,15578,17579,16604
296,ATL,2019,628440,15327,17786,16557
297,MIN,2019,627543,15305,17641,16473
298,PHO,2019,627023,15293,17982,16638
299,NJN,2019,612597,14941,18085,16513

In [10]:
team_list = ['ATL','BOS','CHI','CLE','DAL','DEN','DET','GSW','HOU','IND','LAC','LAL','MEM','MIA','MIL','MIN', 'NYK', 'OKC','ORL','PHI','PHO','POR','SAC', 'SAS', 'TOR','UTA','WAS']
#teams not accounted for: cha, nop, njn
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)



#team_list = ["SAC"]

# the_url = 'https://www.basketball-reference.com/teams/SAC/'

W_matches = {}


for team in team_list:
    for year in year_list:
        #try:
            the_url = 'https://www.basketball-reference.com/teams/' + team + '/'
            url = the_url + year + '.html'
            browser.visit(url)
            
            
            #time.sleep(1)
            tables = pd.read_html(browser.html)
            if len(tables) < 10:
                print("Couldn't find this one:")
                print(team, year)
                continue
            
           
            
            for table in tables:
                if 'Offense Four Factors' in table.columns:
                    W_matches[f"{team} {year}"] = table
                    table = pd.DataFrame(table)
                    
            
                    
                    
                    
#         except:
#             print("Couldn't find this one, oh well...")
#             print(team , year)

ValueError: No tables found

In [ ]:
clean_dict = {}
#listy =[]

for key, table in W_matches.items():
    table.columns = ['dont want','W','L','PW','PL','MOV','SOS','SRS','ORtg','DRtg','Pace','FTr','PAr','eFG%','TOV%','ORB%','FT/FGA','eFG%','TOV%','DRB%','FT/FGA','Arena','Attendance']

    clean_table = table.rename(columns={'MOV':'margin_of_victory','W':'wins', 'L': 'losses', 'ORtg':'offensive_rating', 'DRtg': 'defensive_rating', 'Pace': 'pace'})
    #print(clean_table)
    clean_table = clean_table[['wins', 'losses', 'margin_of_victory', 'offensive_rating', 'defensive_rating', 'pace']]
    
    clean_table = clean_table.drop(clean_table.index[1, ])
    clean_dict[key] = clean_table
    #listy.append(clean_table)
    #print(key)
    

clean_dict
    
#table.columns = ['dont want','W','L','PW','PL','MOV','SOS','SRS','ORtg','DRtg','Pace','FTr	','PAr','eFG%','TOV%','ORB%','FT/FGA','eFG%','TOV%','DRB%','FT/FGA','Arena','Attendance]

In [5]:
combined_df = pd.DataFrame({})

for entry in clean_dict:
    teamyear = entry.split(' ')
    team = teamyear[0]
    year = teamyear[1]
    table = clean_dict[entry]
    table['team'] = team
    table['year'] = year

    if combined_df.empty:
        combined_df = table
    else:
        combined_df = combined_df.append(table)
    
        
        
combined_df
combined_df.reset_index(drop = True)

NameError: name 'clean_dict' is not defined

In [ ]:
# rds_connection_string = "postgres:Q30t8aerlP@localhost:5432/ETL_Project"
# engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# engine.table_names()

In [ ]:
# pd.read_sql_query('select * from team_attendance', con=engine).head()

In [ ]:
# pd.read_sql_query('select * from team_rating', con=engine).head()